<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Adicionar Livro</title>
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <div class="container">
    <div class="login-box">
      <h2>Adicionar Novo Livro</h2>
      <form method="POST" action="/criar" enctype="multipart/form-data">
        <label for="titulo">Título do Livro:</label>
        <div class="input-box">
          <input type="text" name="titulo" placeholder="Ex: O Senhor dos Anéis" required>
        </div>

        <label for="autor">Autor do Livro:</label>
        <div class="input-box">
          <input type="text" name="autor" placeholder="Ex: J.R.R. Tolkien" required>
        </div>

          <label for="descricao">Descrição:</label>
        <div class="input-box">
          <textarea name="descricao" rows="4" placeholder="Escreva uma breve descrição..." required></textarea>
        </div>


         <label for="status">Status do Livro:</label>
        <div class="input-box">
          <select name="status" required>
            <option value="pendente">Pendente</option>
            <option value="lido">Lido</option>
          </select>
        </div>

        <label for="capa">Capa do Livro:</label>
        <div class="input-box">
          <input type="file" name="capa" accept="image/*">
        </div>


        <button type="submit">Salvar Livro</button>
      </form>

       <p style="margin-top: 10px;">
        <a class="registro" href="/cadastrar">Voltar para a lista de livros</a>
      </p>
    </div>
  </div>
</body>
</html>
